# Set colors from Xresources
# Change 'color7' and 'color2' to whatever colors you want i3 to use 
# from the generated scheme.
# NOTE: The '#f0f0f0' in the lines below is the color i3 will use if
# it fails to get colors from Xresources.

set_from_resource $black1 i3wm.color0 #2F2E30
set_from_resource $black2 i3wm.color8 #6E6D6F

set_from_resource $red1 i3wm.color1 #BE603B
set_from_resource $red2 i3wm.color9 #E08764

set_from_resource $green1 i3wm.color2 #88B137
set_from_resource $green2 i3wm.color10 #AAD15D

set_from_resource $yellow1 i3wm.color3 #BEB23B
set_from_resource $yellow2 i3wm.color11 #E0D564

set_from_resource $blue1 i3wm.color4 #7688B4
set_from_resource $blue2 i3wm.color12 #4B6296

set_from_resource $magenta1 i3wm.color5 #B45088
set_from_resource $magenta2 i3wm.color13 #982F6B

set_from_resource $cyan1 i3wm.color6 #449A75
set_from_resource $cyan2 i3wm.color14 #28825C

set_from_resource $white1 i3wm.color7 #F3F3F3
set_from_resource $white2 i3wm.color15 #FFFFFF
                  
# class                  border    backgr.   text    indicator child_border
client.focused           $green1   $green1   $black1 $green2   $green2
client.focused_inactive  $green2   $green2   $black1 $green1   $green1
client.unfocused         $yellow1  $yellow1  $black1 $yellow2  $yellow2
client.urgent            $red1     $red1     $white1 $red1     $red2
client.placeholder       $black1   $black1   $white1 $black1   $black2

client.background        $black1