# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java default configuration
[*.java]
indent_size = 4
continuation_indent_size = 8

# 4 space indentation
[*.py]
indent_size = 4

[*.c]
indent_size = 4

[*.cpp]
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

